body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.vertical-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.boton-redondeado {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.rele-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* Para pantallas grandes (ordenadores) */
.espacio {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 calc(25% - 40px); /* Ocupa el 25% del contenedor menos el gap */
    box-sizing: border-box;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .espacio {
        flex: 1 1 calc(50% - 20px); /* Ocupa el 50% del contenedor menos el gap */
    }
}
@media (max-width: 600px) {
    .imagen {
        background-image: url('c:\Users\JCPElectrik\Desktop\proyecto control jardin\imagen\logo 1.png');
    }
}
@media (min-width: 601px) {
    .imagen {
        background-image: url('c:\Users\JCPElectrik\Desktop\proyecto control jardin\imagen\logo 1.png');
    }
}

.status {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px auto;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}